*.pyc
*.egg
*.egg-info
*.dist-info
_build/
.DS_Store
.idea/
.ropeproject/
.*.swp
.swp
*~
*.nosetests.xml
*.sqlite
coverage.xml
.coverage
pylint.out
pylint.txt
pep8.txt
MANIFEST
*.bak

dist/
build/
wheelhouse/
virtualenv/
wheel

atlassian-ide-plugin.xml
